<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PricePrive</title>

    <!-- Attach Favicon -->
    <link rel="icon" href="../static/transparent_logo.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Attach New Responsive Style -->
    <link rel="stylesheet" href="../static/css/competitor.css">
    
</head>


<body>
    <header>
        <!-- <h1>Logo</h1> -->
        <img src="../static/Logo.jpeg" alt="" style="width: 80px; height: 80px; padding: 0; margin: 0;">
        <nav>
            <a href="{{ url_for('auth.competitor') }}">Home</a>
            <a href="{{ url_for('auth.services') }}">Services</a>
            <a href="{{ url_for('auth.report') }}">Reports</a>
            <a href="{{ url_for('auth.contact') }}">Contacts</a>
            <a href="{{ url_for('auth.pricing') }}">Pricing</a>
        </nav>
    </header>
    <section class="section" id="sec-1">
        <div class="content-1" id="contents-1">
            <h1>Unlock Insights from <br> Data with PricePrive</h1>
            <p>"Turning Competitor Data into Your Competitive Edge."</p>

        </div>
        <div class="button-1">
            <a href="/contact" class="button">Get Started</a>
        </div>

        <div class="container">
            <div class="box" id="box-1">
                <h1>Web Crawling</h1>
                <p>Effortlessly extract and analyze web data for smarter decisions.</p>
            </div>
            <div class="box" id="box-2">
                <h1>Data Analytics</h1>
                <p>Comprehensive insights on stock, performance, and key business data.</p>
            </div>
            <div class="box" id="box-3">
                <h1>Insight Reports </h1>
                <p>Tailored reports for informed decision-making, monitor market trends and stay competitive.</p>
            </div>
        </div>
    </section>
    <section class="section" id="sec-2">
        <div class="content-2" id="contents-2">
            <h1>Unlock Competitor <br>Insights with<br> Priceprive</h1>
            <p>At Priceprive, we bring clarity to the competitive market with powerful <br>scraping and analysis. Gain real-time visibility into stock status and <br>pricing trends with our in-depth reports—giving <br>you the edge to make smarter, faster decisions.</p>
        </div>
        <div class="image-2">
            <img src="../static/h-1.png" alt="">
        </div>
    </section>
    <section class="section" id="sec-3">
        <div class="content-3" id="contents-3">
            <h1>Competitor Insights Analysis</h1>
            <p>We provide comprehensive reports on competitor metrics including <br>stock levels, pricing, and inventory
                analysis.</p>
        </div>
        <div class="image-3">
            <div class="image3-1">
                <img src="../static/h-2.webp" alt="" class="card-image1">
                <div class="text-box-1">
                    <h2>End to End analysis
                    </h2>
                    <p>Unlock the full potential of your data with our seamless extraction, processing, and in-depth insights, driving smarter decisions.
                    </p>
                </div>
            </div>
            <div class="image3-1">
                <img src="../static/h-3.webp" alt="" class="card-image2">
                <div class="text-box-1">
                    <h2>Custom Reports Delivered
                    </h2>
                    <p>Get tailored, data-driven reports designed to meet your unique business needs, transforming raw data into actionable intelligence.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="sec-4">
        <div class="rating">
            <div class="star">
                <p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked "></span>
                    <span class="fa fa-star checked "></span>
                    <span class="fa fa-star checked "></span>
                    <span class="fa fa-star checked "></span>
                </p>

            </div>
            <div class="comment">
                <p>PricePrive's insights helped us understand our competitors<br>better and improve our pricing strategy
                    significantly.</p>
            </div>
            <div class="profile">
                <img src="../static/rpic2.avif" alt="">
            </div>
        </div>
        <div class="rating">
            <div class="star">
                <p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked "></span>
                    <span class="fa fa-star checked "></span>
                    <span class="fa fa-star checked "></span>
                    <span class="fa fa-star checked "></span>
                </p>
            </div>
            <div class="comment">
                <p>The detailed reports provided by PricePrive have been <br>invaluable for our inventory manageent and
                    forecasting.</p>
            </div>
            <div class="profile">
                <img src="../static/rpic1.avif" alt="">
            </div>
        </div>
    </section>
    <section class="section" id="sec-5">
        <div class="content-5">
            <h1>Competitor Insights</h1>
            <p>Gain a strategic edge with deep competitor analysis, uncovering trends,<br> strengths, and opportunities to stay ahead in your industry.</p>
        </div>
        <div class="content2-5">
            <div class="image-5">
                <div class="img-5">
                    <img src="../static/h-4.jpg" alt="">
                </div>
                <div class="text">
                    <h1>Data Analysis</h1>
                    <p>Transform raw data into meaningful insights with our advanced analytics, <br>helping you make data-driven decisions with confidence.
                    </p>
                </div>
            </div>
            <div class="image-5">
                <div class="img-5">
                    <img src="../static/img-3.jpg" alt="">
                </div>
                <div class="text">
                    <h1>Market Trends</h1>
                    <p>Track evolving industry patterns with data-driven insights, helping you<br> adapt and capitalize on emerging opportunities.</p>
                </div>
            </div>
        </div>

    </section>
    <section class="section" id="sec-6">
        <div class="col" id="services">
            <h3>Services</h3>
            <p>Competitor Insights</p>
            <p>Competitor Insights Analysis</p>
            <a href="https://summarizerflask.vercel.app/">ai summarizer</a>
        </div>
        <div class="col" id="resources">
            <h3>Resources</h3>
            <p>Data Analysis</p>
            <p>Market Research</p>
            <p>Performance Metrics</p>
            <p>Inventory Insights</p>
        </div>
        <div class="col" id="pricing">
            <h3>Pricing</h3>
            <p>Basic Plan</p>
            <p>Advanced Plan</p>
            <p>Custom Plan</p>
        </div>
        <div class="col" id="contact">
            <img src="../static/transparent_logo.png" alt="">
            <div class="footer-text">
                <h1>Price Prive</h1>
                <p>support@priceprive.com</p>
            </div>
        </div>
    </section>
</body>

</html>